@media (max-width: 900px) {
  .blogs-main-news {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
  }

  .blogs-news-img-container {
    grid-row: 2;
    margin-right: 0;
  }

  .blogs-news-info-container {
    grid-column: 1;
    grid-row: 3;
  }

  .blogs-posts-container .posts-container {
    max-width: 45%;
  }

  .profile-main-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr;
  }

  .profile-main-container .profile-container {
    display: block;
  }
}

@media (max-width: 600px) {
  .blogs-posts-container .posts-container {
    max-width: 100%;
  }
  
  .proyects-main-container {
    grid-template-columns: 2fr;
  }
}